body {
    margin: 0;
    background-color: #540c17;
    font-family: "Mulish", sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #540c17;
    width: 100%;
    height: 80px;
    align-items: center;
}

.header_img {
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
}

body {
    /* margin: 0;*/
    background-color: #540c17;
    font-family: "Mulish", sans-serif;
}

.login_header {
    display: flex;
    justify-content: space-between;
    background-color: #540c17;
    width: 100%;
    height: 80px;
    align-items: center;
}

.signup_header {
    display: flex;
    justify-content: space-between;
    background-color: #540c17;
    width: 100%;
    height: 80px;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #540c17;
    width: 100%;
    height: 80px;
    align-items: center;
}

.header_img {
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
}

.header_menu {
    margin-right: 30px;
}

.header_menu ul {
    display: none;
    list-style: none;
    padding: 0;
    text-decoration: none;
    position: absolute;
    text-align: right;
    width: 100px;
    margin-top: 0px;
}

.header_menu li {
    margin: 10px 0px;
}

.header_menu li a {
    color: white;
    text-decoration: none;
}

.header_menu:hover ul,
ul:hover {
    display: block;
}

.header_menu_profile {
    display: flex;
    margin-right: 30px;
    align-items: center;
}

.header_menu_profile img {
    margin-right: 9px;
    width: 40px;
}

.header_menu_profile p {
    margin: 0px;
    color: white;
}

.main {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.main_title {
    color: white;
    font-size: 25px;
}

.categories__title {
    color: white;
    font-size: 16px;
    position: absolute;
    padding-left: 30px;
    width: 100%;
}

.input {
    border: 2px solid white;
    border-radius: 25px;
    color: white;
    font-family: "Mulish", sans-serif;
    font-size: 16px;
    height: 50px;
    padding: 0px 20px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    outline: none;
}

::placeholder {
    color: white;
}

.carousel {
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 30px;
    position: relative;
}

.carousel_container {
    white-space: nowrap;
    margin: 70px 0px;
    padding-bottom: 10px;
}

.carousel_item {
    background-color: darkblue;
    width: 200px;
    height: 350px;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center left;
    position: relative;
}

.carousel_item:hover~.carousel_item {
    transform: translate3d(100px, 0, 0);
}

.carousel_container:hover .carousel_item {
    opacity: 0.3;
}

.carousel_container:hover .carousel_item:hover {
    transform: scale(1.5);
    opacity: 1;
}

.carousel_item_img {
    width: 200px;
    height: 350px;
    object-fit: cover;
}

.carousel_item_details {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: linear-gradient( to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
    font-size: 10px;
    opacity: 0;
    transition: 450ms opacity;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.carousel_item_details:hover {
    opacity: 1;
}

.carousel_item_details--title {
    color: white;
}

.footer {
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: #ab88ff;
}

.footer a {
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding: 30px;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.login {
    background: linear-gradient(#540c17, #ab88ff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 30px;
    min-height: calc(100vh-200px);
}

.login__container {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    border-radius: 40px;
    color: white;
    padding: 60px 68px 40px;
    min-height: 700px;
    width: 600px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.login__container--form {
    display: flex;
    padding: 10px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.login__container--form label {
    font-size: 14px;
}

.centro {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.login__container--remember {
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.login__container--remember a {
    color: white;
    font-size: 14px;
    text-decoration: none;
}

.login__container--remember a:hover {
    text-decoration: underline;
}

.login__container--social-media>div {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 10px;
}

.login__container--social-media>div>img {
    width: 30px;
    margin-right: 10px;
}

.login_container--register {
    font-size: 14px;
}

.login_container--register a {
    font-size: 16px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.login_container--register a:hover {
    text-decoration: underline;
}

.input {
    background-color: transparent;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 2px solid white;
    font-family: "Mulish", sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 0px 20px;
    outline: none;
    height: 50px;
}

::placeholder {
    color: white;
}

.button-1 {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-family: "Mulish", sans-serif;
    font-weight: bold;
    font-size: 16px;
    height: 50px;
    width: 100%;
    letter-spacing: 1px;
    margin: 10px 0px;
}

.footer {
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: #ab88ff;
}

.footer a {
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding: 30px;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
    .login__container {
        background-color: transparent;
        border: none;
        padding: 0px;
    }
    .footer {
        padding: 0px;
        align-items: flex-start;
        flex-direction: column;
    }
}


/*# sourceMappingURL=index.css.map */


/*Cabecera*/

.heade {
    color: black;
    font-size: 27px;
    font-weight: bold;
    padding: 10px;
}

.navigation {
    padding: 0px !important;
}

i {
    color: black;
    font-weight: bold;
    font-size: 13px;
}

.navigation .navbar {
    border-radius: 0px !important;
    background: #540c17 !important;
    border: none;
}

.navigation .navbar * {
    color: white !important;
}

.navigation .navbar a:hover {
    background: #652130 !important;
}